.card{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.nav{
    grid-template-columns: repeat(auto-fill,minmax(300px,3fr));
}
.icon{
    grid-template-columns: repeat(auto-fill,minmax(40px,2fr));
}
.techonology {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  
@media screen and (max-width: 765px) {
    .hello{
        font-size: 60px;
    }
    .punya{
        font-size: 60px;
    }
}
@media screen and (max-width: 510px) {
    .hello{
        font-size: 40px;
    }
    .punya{
        font-size: 40px;
    }
}
@media screen and (max-width: 400px) {
    .hello{
        font-size: 30px;
    }
    .punya{
        font-size: 30px;
    }
}
@media screen and (max-width: 550px) {
    .nav ,.total_name,.about_me ,.work_container,.contact_container{
        font-size: 15px;
        padding: 0px 15px;
    }
}